.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
*.iml
*.ipr
*.iws
.idea/
.vscode/
android/.gradle
android/local.properties
ios/Flutter/flutter_export_environment.sh
ios/Pods/
ios/.symlinks/
*.g.dart
